// general
body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
// galeriaCartas
main{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto 1fr;

    .filtros{
        grid-column:1/2 ;
        background-color: green;
    }
    .galeriaCartas{
        grid-column: 2/3;
        height: 100%;
        padding: 1rem;
        background-color: red;
        display: grid;
        grid-template-columns:
        repeat(
            auto-fit,
            minmax(230px, 1fr)
            );
            gap:20px;
        justify-items: center;
        align-items: center;
        .cartaGaleriaCartas{
            background-color: blue;
            width: 230px;
            height: 360px;

            img{
                width: 230px;
                height: 100%;
            }
        }
    }
    .listadoButton{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}