// general
body {
    margin: 0;
    padding: 0;
    background-color: $turquoise-1;
}

p {
    margin: 0;
}

//header

.header {
    background-color: $turquoise-1;
    border-bottom: 2px solid $turquoise-6;

    nav {
        background-color: $turquoise-claro;

        .filtrosPorInicial {
            border-radius: 10px;
            margin: 0 10px 0 10px;
            width: auto;

            &:hover {
                background-color: $turquoise-6;
                color: $turquoise-claro;
            }
        }

        .filtrosPorTipo {
            border-radius: 10px;
            margin: 0 10px 0 10px;
            width: auto;

            &:hover {
                background-color: $turquoise-6;
                color: $turquoise-claro;
            }
        }

        .entryArea {
            position: relative;
            height: 50px;
            line-height: 50px;
            width: 250px;

            .input{
                position: absolute;
                outline: none;
                width: 100%;
                line-height: 50px;
                padding: 0 20px;
                font-size: 1.3rem;
                border-radius: 10px;
                border: 2px solid $turquoise-4;
                background: transparent;
                transition: 0.2s ease;
                z-index: 18;
            }

            .label{
                position: absolute;
                font-size: 1.2rem;
                color:$turquoise-7;
                padding: 0 15px;
                margin: 0 10px;
                background-color: transparent;
                transition: 0.2s ease;
                
            }

            .inputShifted {
                color: $turquoise-7;
                border: 2px solid $turquoise-7;
            }

            .labelShifted {
                background-color: $turquoise-1;
                border-radius:10px ;
                margin: 0 0 0 15px;
                padding: 0 0 0 10px;
                color: $turquoise-7;
                height: 30px;
                line-height: 30px;
                transform: translate(-15px, -16px) scale(0.88);
                z-index: 19;
                width: 220px;
                font-weight: 500;
            }
        }
    }
}

// galeriaCartas
main {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto 1fr;

    .filtros {
        grid-column: 1/2;
        background-color: $turquoise-1;
        border-right: 2px solid $turquoise-6;
    }

    .galeriaCartas {
        grid-column: 2/3;
        min-height: 400px;
        height: 100%;
        padding: 1rem;
        background-color: $turquoise-1;
        display: grid;
        grid-template-columns:
            repeat(auto-fit,
                minmax(230px, 1fr));
        gap: 20px;
        justify-items: center;
        align-items: center;

        .cartaGaleriaCartas {
            background-color: transparent;
            width: 230px;
            height: 360px;
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            z-index: 1;
            transition: transform 0.5s ease, box-shadow 0.5s ease;

            .imagenCarta {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                z-index: 10;
                position: absolute;
                // inset: 5px;
            }

            &:hover {
                transform: rotate3d(10, 10, 0, 25deg);
                // transform: rotate3d(1,1,0,20deg) scale(1.1);
                box-shadow: -10px 20px 25px rgba($turquoise-oscuro, 0.7);
            }
        }
    }

    .listadoButton {
        grid-column: 2/3;
        grid-row: 2/3;
       display: flex;
       justify-content: center;

       .botonesGenerales{
        margin:10px;
        background-color: $turquoise-4;
        color:$turquoise-oscuro;
        border: 1px solid $turquoise-oscuro;
        border-radius: 5px;
        &:hover{
            background-color: $turquoise-8;
            color: $turquoise-2;
            box-shadow: 0 0 5px black;
        }
        &:disabled{
            pointer-events: none;
        }
        }
        .paginaActual{
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                border-top-color: #3498db; /* color del triángulo */
            }
        }
    }
}

.emergente {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($turquoise-oscuro, 0.7);
    z-index: 30;
    animation: show 0.2s ease;

    &.emergenteOculto {
        display: none;
    }

    .contenedorEmergente {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        // display: none;

        .imagenGrande {
            height: 500px;
            width: 500px;
            margin-top: 30px;
            background-color: #BDEAEF;
            background-size: cover;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 20px;
            border-radius: 1rem;
            border: 2px solid black;
            display: none;

            &.imagenGrandeVisible {
                display: block;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: flex-end;
            }

            .nombreYTipo {
                display: flex;
                justify-content: space-between;
                background-color: rgba($turquoise-oscuro, 0.7);
                border-radius: 5px;
                padding: 5px;
                border: 2px solid black;
                width: 100%;
                margin-bottom: 10px;
            }

            .attackYDeff {
                display: flex;
                justify-content: space-between;
                background-color: rgba($turquoise-oscuro, 0.7);
                border-radius: 5px;
                padding: 5px;
                border: 2px solid black;
                width: 100%;
                margin-bottom: 10px;

                .poderTexto {
                    margin-right: auto;
                }

                .defensa {
                    margin-left: 25px;
                }
            }

            .spellTrap {
                margin-left: 310px;
                width: 100%;
            }

            .descripcion {
                min-height: 300px;
                background-color: rgba($turquoise-oscuro, 0.7);
                border-radius: 5px;
                padding: 5px;
                border: 2px solid black;
                width: 100%;
                margin-bottom: 10px;
            }

            .texto {
                color: bisque;
                font-weight: 500;
            }

            .ocultar {
                opacity: 0;
                animation: fadeOut 1s ease;
            }

            .verImagen {
                width: 100px;
                justify-content: flex-end;
                align-items: flex-end;
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        }

        .cartaDetallada {
            height: 550px;
            width: 395px;
            position: relative;
            border-radius: 2px solid black;
            background-color: transparent;
            overflow: hidden;

            img {
                height: 540px;
                width: 97%;
                position: absolute;
                z-index: 40;
                inset: 4px 5px 5px 5px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 150px;
                height: 800px;
                left: 30%;
                top: -100px;
                // background:linear-gradient($color-uno-grandient, $color-dos-grandient);
                background-color: white;
                border-radius: 1rem;
                transform: translateX(-50%);
                animation: rotate 3s linear infinite;
                z-index: 2;
            }

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            &::after {
                content: "";
                position: absolute;
                inset: 10px;
                background-color: $turquoise-1;
                border-radius: 1rem;
                z-index: 4;
            }
        }
    }
}

@keyframes show {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.filtroDeLetras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: 30px;
    gap: 5px;
    margin: 10px;
    align-items: center;
    justify-items: center;

    .buttonFiltros {
        width: 30px;
        background-color: $turquoise-4;
        color:$turquoise-oscuro;
        border: 1px solid $turquoise-oscuro;
        border-radius: 5px;
        &:hover{
            background-color: $turquoise-8;
            color: $turquoise-2;
            box-shadow: 0 0 5px black;
        }
    }
}
.botonCerrar{
    width: auto;
    background-color: $turquoise-4;
    color:$turquoise-oscuro;
    border: 1px solid $turquoise-oscuro;
    border-radius: 5px;
    font-weight:500;
    &:hover{
        background-color: $turquoise-8;
        color: $turquoise-2;
        box-shadow: 0 0 5px black;
    }
}
.botonImagenDetallada{
    width: auto;
    background-color: $turquoise-4;
    color:$turquoise-oscuro;
    border: 1px solid $turquoise-oscuro;
    border-radius: 5px;
    font-weight:500;
    &:hover{
        background-color: $turquoise-8;
        color: $turquoise-2;
        box-shadow: 0 0 5px black;
    }
}
.verImagen{
    width: auto;
    background-color: $turquoise-4;
    color:$turquoise-oscuro;
    border: 1px solid $turquoise-oscuro;
    border-radius: 5px;
    font-weight:500;
    &:hover{
        background-color: $turquoise-8;
        color: $turquoise-2;
        box-shadow: 0 0 5px black;
    }
}