$turquoise-claro: #f1fcfa;
$turquoise-1: #cef9f2;
$turquoise-2: #9ef1e4;
$turquoise-3: #5be1d1;
$turquoise-4: #36cbbf;
$turquoise-5: #1cb0a5;
$turquoise-6: #148d87;
$turquoise-7: #14716e;
$turquoise-8: #155a59;
$turquoise-9: #164b49;
$turquoise-oscuro: #062d2d;

